    body {
      background-color: #ffffff;
      color: #000000;
      transition: 0.3s, color 0.3s;
    }
    body.light-mode {
      background-color: #ffffff;
      color: #000000;
      transition: 0.3s, color 0.3s;
    }
    body.dark-mode {
      background-color: #121212;
      color: #ffffff;
    }
    
    body.dark-mode nav.fixed-top {
        background-color:  #222;
        color: #ffffff;
    }
    body.dark-mode  nav.fixed-top .logo.logo {
        filter: brightness(0) invert(1);
        }
    body.dark-mode nav.fixed-top .nav-item .nav-link{
        color: #fff ;
    }
    
    body.dark-mode .bg-gray{
        background: #222;
    }
    body.dark-mode .main-btn:hover {
    color: #000;
    background-color: #fff;
    }
    body.dark-mode .contact-container{
        background: #161515
    }
    body.dark-mode .blogs .blog-item .blog-content{
        background: #161515
    }
/*===========Helpers Css============*/

.heading {
    margin-bottom: 50px;
}

.heading h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.heading h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.owl-theme .owl-dot span {
    width: 20px !important;
}

.bg-gray {
    background-color: #f2f2f2;
}

.main-btn {
    display: inline-block;
    background-color: #A9BA9D;
    padding: 10px 20px;
    border: 2px solid #A9BA9D;
    color: #000;
    text-decoration: none;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
    transition: .2s background-color ease;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.main-btn:hover {
    color: #222;
    background-color: transparent;
    text-decoration: none;
}

.bread-crumb a {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
}

.bread-crumb a:before {
    content: "/";
    position: absolute;
    right: -15px;
}

.bread-crumb a:last-child:before {
    display: none;
}

blockquote {
    font-size: 15px;
    color: #222;
    border-left: 4px solid #222;
    padding-left: 20px;
    margin: 40px 0;
    font-weight: 500;
}


/*============ 2. Preloader  ============*/

.preloader {
    position: fixed;
    background-color: #fff;
    z-index: 9999;
    height: 100%;
    width: 100%;
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}

.preloader.loaded {
    opacity: 0;
    visibility: hidden;
}

.preloader:before,
.preloader:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #222;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.preloader:before {
    top: 0;
    left: 0;
}

.preloader:after {
    bottom: 0;
    left: 0;
}

.preloader.loaded:before,
.preloader.loaded:after {
    height: 0%;
}

.preloader .loader {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    -webkit-animation: 1s infinite ease-in-out;
    animation: 1s infinite ease-in-out;
}

.preloader .loader:before,
.preloader .loader:after {
    -webkit-animation: .8s infinite ease-in-out;
    animation: .8s infinite ease-in-out;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.preloader .loader:before {
    content: '';
    border: 10px solid #222;
    top: -10px;
    left: -10px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-animation-name: anim-loader;
    animation-name: anim-loader;
}

.preloader.loaded .loader {
    opacity: 0;
}

@-webkit-keyframes anim-loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes anim-loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*============ 3. Navbar ============*/

nav.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
    padding-top: 30px;
    padding-bottom: 20px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav.navbar .logo {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

nav.navbar .navbar-toggler {
    border: 0;
}

nav.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.navbar .nav-item {
    font-size: 18px;
    font-weight: 400;
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
    text-transform: capitalize;
}

nav.navbar .nav-item:first-child {
    padding-left: 0;
}

nav.navbar .nav-item:last-child {
    padding-right: 0;
}

nav.navbar .nav-item .nav-link {
    color: #fff;
    position: relative;
    text-decoration: none;
    padding: 0;
}

nav.navbar .nav-item .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav.navbar .nav-item .nav-link.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

nav.navbar .nav-item .nav-link.last-active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

nav.fixed-top {
    position: fixed;
    padding-top: 12px;
    padding-bottom: 12px;
   background: #fff;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

nav.fixed-top .logo {
    color: #000;
}

nav.fixed-top .logo:focus,
nav.fixed-top .logo:hover {
    color: #000;
}

nav.fixed-top .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.fixed-top .nav-item {
    color: #000;
}

nav.fixed-top .nav-item .nav-link {
    color: #000 ;
}

nav.fixed-top .nav-item .nav-link:before {
    background-color: #000;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    font-weight: 600;
}


/*============ 4. Banner Section============*/
.hero {
    text-align: center;
    padding: 100px 0 50px;
    background: #A9BA9D;
    color: white;
}
.hero h1{
    font-size: 45px;
}
.hero p{
    margin-bottom: 0;
}
.banner {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.banner:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 2;
    opacity: .5;
}

.banner .banner-caption {
    top: 70%;
    position: absolute;
    color: #fff;
    z-index: 11;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner .banner-caption h1 {
    font-size: 50px;
    color: #fff;
}

.banner .banner-caption p {
    font-size: 24px;
    font-family: "Poppins", san-serif;
    color: #eee;
}

.arrow {
    position: absolute;
    bottom: 10vh;
    width: 100vw;
    z-index: 11;
    padding-left: 75px;
}

.arrow a {
    color: #fff;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


/*===Slider Page===*/
.banner .banner-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}


/*===Creative Page===*/
#home-svg {
    height: 150px;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 3;
}

#home-svg .p-curve {
    fill: #fff;
}

/*===Center Banner Captions===*/

.banner-centered .banner-caption {
    text-align: center;
}

.banner-centered .arrow {
    padding-left: 0;
    text-align: center;
}

/*===Index Particles===*/

.banner #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 15;
}


/*============ 5. About Section ============*/

section.about .about-img {
    position: relative;
}

section.about .about-img:before {
    content: "";
    background-color: #A9BA9D;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10%;
    left: -10%;
    z-index: 0;
}

section.about .about-img img {
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14);
    border-radius: 12px;
}

section.about .about-content .about-heading {
    margin-bottom: 20px;
}

section.about .about-content .about-heading h2 {
    font-size: 38px;
    font-weight: 600;
}

section.about .about-content .about-heading span {
    font-family: "Poppins", san-serif;
    color: #222;
    font-size: 19px;
}

section.about .about-content p {
    line-height: 28px;
}

section.about .about-content .social-icons {
    margin: 20px 0;;
}

section.about .about-content .social-icons a {
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin-right: 10px;
    background-color: #A9BA9D;
    color: #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #A9BA9D;
    width: 35px;
    height: 35px;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}

section.about .about-content .social-icons a .fa {
    color: #fff;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}

section.about .about-content .social-icons a:hover {
    border: 2px solid #A9BA9D;
    background: transparent;
    line-height: 26px;
}

section.about .about-content .social-icons a:hover .fa {
    color: #222;
}

section.about .about-content .about-button {
    margin-top: 40px;
}


/*============ 6. Services Section ============*/

section.services .service-item {
    text-align: center;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    padding: 20px;
       background: #A9BA9D;
}
/* section.services .service-item:hover{
        background: #A9BA9D;
} */
section.services .service-item .icon {
    color: #222;
    display: inline-block;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    line-height: 78px;
    font-size: 30px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

section.services .service-item h4 {
    font-size: 21px;
    margin-bottom: 16px;
    color: #fff;
}
/* section.services .service-item:hover h4{
    color: #fff;
}*/
section.services .service-item p{
    color: #fff;
} 
section.services .service-item .icon {
    -webkit-box-shadow: 0 5px 30px #e3e3e3;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-color: #f2f2f2;
    background: #fff;
    color: #A9BA9D;
}



/*============ 9. Blogs Section ============*/

.blogs .owl-carousel .owl-stage-outer {
    padding: 15px 0;
}

.blogs .blog-item {
    -webkit-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.1);
}

.blogs .blog-item .blog-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.blogs .blog-item .blog-img img {
    object-fit: cover;
    height: 200px;
    display: block;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.blogs .blog-item .blog-img img:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.blogs .blog-item .blog-content {
    padding: 30px 15px 15px;
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.blogs .blog-item .blog-content h3 {
    font-size: 20px;
    font-weight: 600;
     margin-bottom: 15px;
}

.blogs .blog-item .blog-content p {
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 0;
}

.blogs .blog-item .blog-content .blog-meta {
    padding-top: 15px;
}

.blogs .blog-item .blog-content .blog-meta span {
    font-size: 13px;
    color: #748182;
}

.blogs .blog-item .blog-content .blog-meta .more {
    color: #222;
    border-bottom: 1px solid #aaa;
    font-weight: 600;
}

.blog-list .blog-item {
    margin-bottom: 50px;
}


/*============ 10. Testimonial Section ============*/

.testimonials {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.testimonials:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 2;
    opacity: .60;
}

.testimonials .container {
    position: relative;
    z-index: 10;
}

.testimonials .testimonial-item .author-img {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}

.testimonials .testimonial-item p {
    word-spacing: 2px;
    color: #fff;
}

.testimonials .testimonial-item h5 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 5px;
    color: #fff;
}

.testimonials .testimonial-item span {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    display: block;
}


/*============ 11. Contact Section ============*/

.contact .single-info {
    position: relative;
    padding: 30px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact .single-info .info-icon {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #222;
    text-align: center;
    line-height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.contact .single-info .info-content {
    padding-left: 70px;
}

.contact .single-info .info-content h5 {
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
}

.contact .single-info .info-content p {
    margin-bottom: 0;
    font-size: 15px;
}

.contact #contact-form .form-group {
    margin-bottom: 24px;
}

.contact #contact-form .form-group .form-control {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 12px;
    color: #222;
    border-radius: 8px;
    border: 0;
    background-color: #d3d3d3;
    height: 3em;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.contact #contact-form .form-group textarea.form-control {
    height: auto;
    resize: none;
}

.contact #contact-form .form-group .con-error {
    border-color: red;
}

.contact #contact-form .form-control:hover,
.contact #contact-form .form-control:active,
.contact #contact-form .form-control:focus {
    -webkit-box-shadow: none;
    -moz-webkit-box-shadow: none;
    box-shadow: none;
    border-color: #222;
}
.contact-container{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 35px 50px;
    border-radius: 12px;
}

/*============ 12. Footer  ============*/

footer {
    background: #222;
}

footer .contact-info h5 {
    color: #fff;
    font-size: 21px;
    
}

footer .contact-info p,footer .contact-info p  a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

footer hr {
    border-color: #333;
}

footer .copy {
    font-size: 14px;
    color: #aaa;
}
footer p.copy{
    margin-bottom: 0px;
}
.contact-info i{
    color: #A9BA9D;
    font-size: 30px;
    margin-bottom: 12px;;
}

/*============ 13. Blogs Page ============*/

section.banner-blog {
    height: 50vh;
    background-color: #222;
    position: relative;
    overflow: hidden;
}

section.banner-blog #particles-js {
    width: 100%;
    height: 100%;
}

section.banner-blog .banner-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

section.banner-blog .banner-caption h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}


/*============ 14. Single Blog Page ============*/

.blog-detail .blog-heading {
    margin-bottom: 30px;
}

.blog-detail .blog-heading h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 25px 0 10px 0;
}

.blog-detail .blog-heading .blog-meta span {
    font-size: 14px;
}

.blog-detail .blog-content {
    margin-bottom: 90px;
}

.blog-detail .blog-content p {
    line-height: 28px;
}

.blog-detail .comment-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.blog-detail ul.post-comment {
    float: left;
}

.blog-detail ul.post-comment li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #efefef;
    padding: 15px 0;
    list-style: none;
}

.blog-detail ul.post-comment li img {
    width: 15%;
    float: left;
}

.blog-detail ul.post-comment li .comment-info {
    float: left;
    width: 85%;
    padding-left: 15px;
    margin-top: 10px;
}

.blog-detail ul.post-comment li .comment-info h3 {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.blog-detail ul.post-comment li .comment-info a {
    float: right;
    font-size: 13px;
    font-weight: 800;
    color: #222;
}

.blog-detail ul.post-comment li .comment-info span {
    float: left;
    width: 100%;
    font-size: 13px;
}

.blog-detail ul.post-comment li .comment-info p {
    font-size: 14px;
    line-height: 1.2;
    float: left;
    margin-top: 6px;
}

.blog-detail .contact-form {
    padding-top: 60px;
    clear: both;
}

.blog-detail .contact-form .form-inpt {
    width: 100%;
    height: 45px;
    border: 0;
    color: #222;
    border-bottom: 2px solid #222;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.blog-detail .contact-form textarea {
    width: 100%;
    border: 0;
    font-size: 14px;
    border-bottom: 2px solid #222;
    padding: 20px 0 0 10px;
    margin-bottom: 15px;
    height: 150px;
}
.form-check-input:checked{
    background-color: #A9BA9D;
    border-color: #A9BA9D;
}
.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;;
}
.footer-padding{
    padding-top: 50px;
    padding-bottom: 20px;;
}

/*============ 15. Mobile Responsive  ============*/

@media screen and (max-width: 991px) {
    .navbar-collapse {
        text-align: center;
        background-color: rgba(34, 34, 34, 0.9);
    }
    .navbar-collapse .nav-item {
        padding: 0 !important;
    }
    .navbar-collapse .nav-item a {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fixed-top .navbar-collapse {
        background-color: transparent;
    }
    .banner .banner-caption h1 {
        font-size: 75px;
    }
    .banner .banner-caption p {
        font-size: 21px;
    }
    section.about .about-img:before {
        display: none;
    }
    section.about .about-content {
        margin-top: 50px;
    }
    section.banner-blog .banner-caption h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .banner .banner-caption h1 {
        font-size: 46px;
    }
    .banner .banner-caption p {
        font-size: 17px;
    }
    .banner #home-svg {
        height: 80px;
    }
    section.banner-blog .banner-caption h1 {
        font-size: 32px;
    }
}



